<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-gt3"
        version="1.0.0">
    
    <name>NBGeetest</name>
    
    <js-module src="www/NBGeetest.js" name="NBGeetest">
        <clobbers target="window.plugins.NBGeetest" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        
        <header-file src="src/ios/NBGeetest.h" />
        <source-file src="src/ios/NBGeetest.m" />
        <header-file src="src/ios/AppDelegate+NBGeetest.h" />
        <source-file src="src/ios/AppDelegate+NBGeetest.m" />
        
        <config-file target="config.xml" parent="/widget/plugins">
            <feature name="NBGeetest">
                <param name="ios-package" value="NBGeetest"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleLocalizations">
            <array>
		          <string>en</string>
		          <string>zh_CN</string>
		          <string>zh_TW</string>
	          </array>
        </config-file>
        <framework src="src/ios/lib/GT3Captcha.framework" custom="true"/>
        <resource-file src="src/ios/lib/GT3Captcha.bundle"/>
        
    </platform>
    <!-- android -->
    <platform name="android">
        
        <source-file src="src/android/libs/geetest_testbutton_android_v3.5.3.aar" target-dir="app/libs" />
        <source-file src="src/android/NBGeetest.java" target-dir="src/com/gt3" />
        
        <config-file target="res/xml/config.xml" parent="/widget/plugins">
            <feature name="NBGeetest">
                <param name="android-package" value="com.gt3.NBGeetest"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml"  parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
    </platform>
</plugin>